* {
    box-sizing: border-box;
  }
  

  
  .container {
    width: 100%;
    display: grid;
    grid-template-rows: 3em 3em auto;
    position: absolute;
    background-color: white;
  }
  
  .title {
    background: #7c74ea;
    text-align: center;
    display: grid;
    place-content: center;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .days {
    background: #f3f2f1;
    display: grid;
    place-content: center;
    text-align: center;
    grid-template-columns: 3em 10px repeat(7, 1fr);
    position: sticky;
    top: 3em;
    z-index: 10;
    border-bottom: 2px solid #dadce0;
  }
  
  .day {
    border-left: 1px solid #dadce0;
  }
  
  .content {
    display: grid;
    grid-template-columns: 3em 10px repeat(7, 1fr);
    grid-template-rows: repeat(13, 3em);
  }
  
  .time {
    grid-column: 1;
    text-align: right;
    align-self: end;
    font-size: 80%;
    position: relative;
    bottom: -1ex;
    color: #70757a;
    padding-right: 2px;
  }
  
  .col {
    border-right: 1px solid #dadce0;
    grid-row: 1/span 24;
    grid-column: span 1;
  }
  
  .filler-col {
    grid-row: 1/-1;
    grid-column: 2;
    border-right: 1px solid #dadce0;
  }
  
  .row {
    grid-column: 2/-1;
    border-bottom: 1px solid #dadce0;
  }
  
  .event {
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 80%;
  }
  
  .weekend {
    background-color: #f1f3f4;
  }
  
  .calendar1 {
    background-color: rgb(233, 188, 255);
    border-color: #d1c4ff;
  }
  
  .calendar2 {
    background-color:#9fdfff;
    border-color: #b3e1f7;
  }
  
  .current-time {
    grid-column: 7;
    grid-row: 10;
    border-top: 2px solid #ea4335;
    position: relative;
    top: calc(50% - 1px);
  }
  
  .circle {
    width: 12px;
    height: 12px;
    border: 1px solid #ea4335;
    border-radius: 50%;
    background: #ea4335;
    position: relative;
    top: -6px;
    left: -6px;
  }
  
  .current {
    font-weight: bold;
  }

  .notbold{
    font-weight:normal
}